.vs
src\RougeLikeRpg.Game\bin
src\RougeLikeRpg.Graphic\bin
tests\RougeLikeRpg.Tests\bin

src\RougeLikeRpg.Game\bin\*
src\RougeLikeRpg.Graphic\bin\*
tests\RougeLikeRpg.Tests\bin\*

src\RougeLikeRpg.Game\obj
src\RougeLikeRpg.Graphic\obj
tests\RougeLikeRpg.Tests\obj

src\RougeLikeRpg.Game\obj\*
src\RougeLikeRpg.Graphic\obj\*
tests\RougeLikeRpg.Tests\obj\*
src\RougeLikeRpg.Game/bin/Debug/net5
src\RougeLikeRpg.Game/obj/Debug
src\RougeLikeRpg.Graphic/bin/Debug/net5
src\RougeLikeRpg.Graphic/bin/Debug
src\RougeLikeRpg.Graphic/bin/Debug/net5/ref
src\RougeLikeRpg.Graphic/obj/Debug
src\RougeLikeRpg.Graphic/obj
src\RougeLikeRpg.Game/bin/Debug/net7.0
src\RougeLikeRpg.Game/obj
src\RougeLikeRpg.Game/obj
src\RougeLikeRpg.RuleBook/obj
tests\RougeLikeRpg.RuleBook.Test/obj
tests\RougeLikeRpg.Graphic.Test/obj
tests\RougeLikeRpg.Game.Test/obj
artifacts
tests/RougeLikeRpg.Game.Test/bin
tests/RougeLikeRpg.Game.Test/bin/Release/net7.0
tests/RougeLikeRpg.Game.Test/bin/Release/net7.0/cs
tests/RougeLikeRpg.Graphic.Test/bin
tests/RougeLikeRpg.Graphic.Test/bin/Release/net7.0
tests/RougeLikeRpg.RuleBook.Test/bin/Debug/net7.0
tests/RougeLikeRpg.RuleBook.Test/obj/Debug
tests/RougeLikeRpg.RuleBook.Test/bin
tests/RougeLikeRpg.RuleBook.Test/obj
tests/RougeLikeRpg.Graphic.Test/bin/Release/net7.0
tests/RougeLikeRpg.RuleBook.Test/obj
tests/RougeLikeRpg.RuleBook.Test/bin
src/RougeLikeRpg.Game/bin
src/RougeLikeRpg.Game/bin
src/RougeLikeRpg.Game/obj
src/RougeLikeRpg.Game/obj
src/RougeLikeRpg.Graphic/bin
src/RougeLikeRpg.Graphic/obj
src/RougeLikeRpg.RuleBook/bin
src/RougeLikeRpg.RuleBook/obj
tests/RougeLikeRpg.Game.Test/bin/Release/net7.0
tests/RougeLikeRpg.Game.Test/obj
tests/RougeLikeRpg.Graphic.Test/bin/Release/net7.0
tests/RougeLikeRpg.Graphic.Test/obj
tests/RougeLikeRpg.RuleBook.Test/bin
tests/RougeLikeRpg.RuleBook.Test/obj
src/RougeLikeRpg.Game.SourceGen/bin/Debug/netstandard2.0
src/RougeLikeRpg.Game.SourceGen/bin/Release/netstandard2.0
src/RougeLikeRpg.Game.SourceGen/obj/Debug/netstandard2.0
src/RougeLikeRpg.Game.SourceGen/bin
src/RougeLikeRpg.Game.SourceGen/obj
